<div class="row">
  <div class="col">
    <h2 class="display-4 text-center bg-info py-4 mb-3 d-none d-md-block">Posts</h2>
    <ul class="list-group">
      <app-postList *ngFor="let post of posts" 
      [created_at]="post.created_at"
      [title]="post.title" 
      [content]="post.content">
      <button class="btn btn-success" (click)="loveIt()">Love it !</button>
      <button class="btn btn-success" (click)="dontLoveIt()">Don't love it !</button>
      </app-postList>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>